<header>
  <form action="/cards" method="get">
    <input type="text" name="cardTitle" placeholder="Busque card pelo título">
    <button type="submit">Buscar Cards</button>
  </form>
</header>

{{#if cards}}
  {{#each cards}}
    <div>
      <a href="/cards/{{this._id}}">
        <h3>{{this.title}}</h3>
        <img src="{{this.image}}" alt="avatar">
      </a>
    </div>
  {{/each}}
{{else}}
  <h1>Nenhum card encontrado. Favor refazer a busca ou cadastrar um novo card.</h1>
{{/if}}