<video autoplay muted loop id="myVideo">
    <source src="/video/forest.mp4" type="video/mp4">
</video>

<div class="container-home">
    <a><img src="/img/cube.svg" width="120" height="55" class="white-svg"></a>
    <h3>Bem-vindo ao Bizcard!</h3>
    <p>Crie o seu cartão de visita digital e apresente seu trabalho!</p>
</div>