<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bizCard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/superslides.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="node_modules/bootstrap-block-grid/dist/bootstrap4-block-grid.min.css">

</head>
<body>

  {{#if currentUser}}

  <header>
    <nav>
      <ul class="nav__links">
        <li><a href="/"><img src="/img/home.svg" width="50" height="30" class="white-svg"></a></li>
        <li><a class="cta" href="/cards">Meus Cards</a></li>
        <li><a class="cta"href="/cards/new">Novo Card</a></li>
        <li><a href="/logout"><img src="/img/logout.svg" width="50" height="30" class="white-svg"></a></li>
        <li><p class="logo">bizCard</p><p class="dot">.</p></li>
      </ul>
    </nav>
    <p class="menu cta">Menu</p>
  </header>

  <div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
      <a href="/"><img src="/img/home.svg" width="50" height="30" class="white-svg"></a>
      <a class="cta" href="/cards">Meus Cards</a>
      <a class="cta" href="/cards/new">Novo Card</a>
      <p class="logo">bizCard</p><p class="dot">.</p>
      <a href="/logout"><img src="/img/logout.svg" width="50" height="30" class="white-svg"></a>
    </div>
  </div>

  {{else}}

  <header>
    <nav>
      <ul class="nav__links">
        <li><a href="/"><img src="/img/home.svg" width="50" height="30" class="white-svg"></a></li>
        <li><a class="cta" href="/login">Login</a></li>
        <li><a class="cta" href="/signup">Cadastrar</a></li>
        <li><p class="logo">bizCard</p><p class="dot">.</p></li>
      </ul>
    </nav>
    <p class="menu cta">Menu</p>
  </header>

  <div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
      <a href="/home"><img src="/img/home.svg" width="50" height="30" class="white-svg"></a>
      <a class="cta" href="/login">Login</a>
      <a class="cta" href="/signup">Cadastrar</a>
      <p class="logo">bizCard</p><p class="dot">.</p>
    </div>
  </div>

  {{/if}}

  <style>
    body {
      background-image: url('/img/background.png');
        background-repeat: no-repeat;
          background-attachment: fixed;
  background-size: cover;
    }
  </style> 

  {{{body}}}



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/efa251f87e.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://unpkg.com/isotope-layout@3.0.5/dist/isotope.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <script src="js/style.js"></script>
  <script type="text/javascript" src="/js/boostrap.min.js"></script>
  <script type="text/javascript" src="/js/mobile.js"></script>

</body>
</html>