<div class="container">
  <form action="/cards/new" method="post" enctype="multipart/form-data">

    <input type="text" name="cardTitle" placeholder="Titulo">
    <div>
      <input type="file" name="cardImage" placeholder="Link da foto" required />
    </div>

    <input type="text" name="cardMessage" placeholder="Mensagem">
    <input type="text" name="cardEmail" placeholder="E-mail de contato">
    <input type="text" name="cardTwitter" placeholder="Twitter">
    <input type="text" name="cardMobile" placeholder="Mobile">
    <input type="text" name="cardWebsite" placeholder="Website">
    <input type="text" name="cardFacebook" placeholder="Facebook">
    <input type="text" name="cardInstagram" placeholder="Instagram">
    <input type="text" name="cardOther" placeholder="Outros">
    <input type="text" name="cardLink" placeholder="Link">

    <div>
      <button type="submit">Cadastrar Card</button>
    </div>

  </form>
</div>