html, body{
  margin: 0;
  padding: 0;
  font-family:'Coiny', cursive;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.container{
  padding: 30px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #24252a;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 30px 50px;
}
.warning{
  color: white;
}
.container-div{
  padding: 30px;
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%,-45%);
  background: #24252a;
  text-align: center;
  border-radius: 5px;
}
.container-div p{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(19, 206, 253);
  padding: 10px 10px;
  width: 200px;
  outline: none;  
  color: white;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.25s;
}
.container h1{
  color: white;
  font-weight: 500;
}
.container input[type="text"],.container input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(19, 206, 253);
  padding: 14px 10px;
  width: 200px;
  outline: none;  
  color: white;
  font-size: 16px;
  border-radius: 24px;
  transition: 0.25s;
}
.container input[type="text"]:focus,.container input[type="password"]:focus{
  width: 380px;
  border-color: #2ecc71;
  color: white;
}
.container input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  color: white;
  padding: 14px 25px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 17px;
  font-family: 'Libre Baskerville', serif;
}
.container input[type="submit"]:hover{
  background: #2ecc71;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 1%;
  padding-bottom: 1px;
  background-color: #24252a;
}
img{
  color: white;
}
.white-svg{
  color: white;
  top: 20px;
}
.logo {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 30px;
  top: 16px;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 35px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 0.7;
}
.dot {
  cursor: pointer;
  color: #b6eecd;
  position: absolute;
  right: 30px;
  top: 16px;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 35px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 0.7; 
}
.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #edf0f1;
  text-decoration: none;
}
.nav__links {
  list-style: none;
  display: flex;
}
.nav__links li {
  padding: 0px 20px;
}
.nav__links li a {
  transition: color 0.3s ease 0s;
}
.nav__links li a:hover {
  color: white;
}
.cta {
  padding: 9px 25px;
  background-color: rgb(37, 154, 184);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  color: white;
}
.cta:hover {
  background-color: rgba(0, 190, 117, 0.8)
}
.logout {
  padding: 19px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  list-style-type: none;
  display: inline;
}
.avatar {
  border-radius: 100%;
  width: 300px; 
  height: 300px; 
  object-fit: cover;
}
.menu {
  display: none;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}
.overlay--active {
  width: 100%;
}
.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}
.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

#myVideo {
  position:fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
      display: none;
  }
  body {
      background: url('poster.jpg');
      background-size: cover;
  }
}